/* Body Section */
body {
    background-image: url(/Img/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*-----------------------------------------*/

/* Contenedor Azul Centrado */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.section-title {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    width: 70%;
}
  
.section-title p {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #192a56;
}
  
.section-content {
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    height: auto;
    width: 70%;
}
/*-----------------------------------------*/

/* Datos de Pelicula */
.theater-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.theater-banner{

    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
    height: 50vh;
    width: 90%;
    max-height: 400px;
    border: 3px solid rgb(119, 115, 115);

}

.input-data {
    margin: 3%;
    display: flex;
    flex-direction: column;
}

.input-data i{
    visibility: hidden;
    margin-top: -23px;
    margin-left: 235px;
  }

.input-data h1 {
    color: #192a56;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3%;
    text-align: center;
}

.input-data input[type=text] {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 250px;
}

.input-data input[type=button] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}