main {
  height: 670px;
}

body {
    background-image: url(/Img/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
  }
  
  .WhiteTittleFrame {
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    margin-top: 50px;
    width: 60%;
  }
  
  .WhiteTittleFrame p {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #192a56;
  }
  
  .BlueGlass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  
  
  .input-containerHorarioEditarH {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: whitesmoke;
    margin-bottom: 35px;
    width: 50%;
    height: auto;
  }
  
  
  

  
  
  
  .Tittle{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #273c75;
  
  }
  
  

  
  .input-container{
    position: relative;
    width: 300px;
    height: 40px;
    padding-bottom: 20px;
  
  }
  
  
  
  .input-container input {
    position: absolute;
    top: -3px;
    left: 2.5px;
    width: 90%;
    font-size: 16px;
    color: black;
    font-family: inherit;
  
  
  }
  




  .input-container label{
    position: absolute;
    top: 0px;
    left: 6px;
    display: inline-block;
    font-size: 16px;
    color: black;
    transition: 0.5s;
    pointer-events: none;
    font-family: inherit;
    
  
  }
  
  .input-container select{
    height: 25px;
    font-size: 16px;
    color: black;
    font-weight: 300;
    width: 93.5%;
  }
  .input-container input:focus ~  label ,
  .input-container input:valid ~  label {
  
  
  transform: translateX(-6px) translateY(-24px);
  color: white;
  }
  
  
  .section1{
    margin-top: 80px;
  }
  
  #labelselect{
    margin-top: -20px;
    margin-left: -9px;
    color: white;
  }


  .error  {
    border: 2px solid #e74c3c;
    }
    .success  {
    border: 2px solid green;
    }

    .leftContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 55px;
      gap: 25px;
      width: 50%;
      min-width: 300px;
      height: 100%;
    
    }
    
    .contenedor-input {
      display: flex;
      flex-direction: column;
      width: 70%;
      background-color: whitesmoke;
    }
    
    
    
    
    .inputHorarioSelect{
      font-size: 20px;
      width: auto;
    }
    
    .labHorarioEditarPelicula{
      padding: 5px 0px 5px 5px;
      font-size: 20px;
      background-color: #273c75 ;
      color:#f5f6fa ;
      width: 98.8%;
    }
    
    .inputSalaSelect{
      font-size: 20px;
    }  
    
    .rightContainer{
      width: 50%;
      min-width: 300px;
      height: 100%;
      flex-direction: column;
     
      display: flex;
    }
    
    
    .horarios{
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: space-evenly;
      color:#f5f6fa ;
      font-size: 20px;
      background-color: #33353d;
      border: 5px solid #00a8ff ;
      margin-top: 50px;
      margin-bottom: 100px;
      
    }
    
    .eliminarHorario{
      color:#e84118 ;
    }
    
    .inputNuevoHorario{
      font-size: 20px;
      width: 61.9%;
      max-width: 500px;
      margin-top: 0px;
      
    
    }
    
    .labHorarioNuevo{
      font-size: 20px;
      background-color: #273c75 ;
      color:#f5f6fa ;
      height: 25px;
      width: 70%;
      min-width: 200px;
      border-radius: 20px;
      margin-top: 50px; 
    }
    
    .labelSelecFechas{
      font-size: 20px;
      background-color: #273c75 ;
      color:#f5f6fa ;
      height: 25px;
      width: 50%;
      border-radius: 20px;
    
      margin-top: 50px;
      margin-left: 20px;
    }
    
    
    
    .desdehasta{
      padding: 5px;
      color:#f5f6fa ;
      background-color: #33353d;
      width: 60%;
      margin-top: 10px;
    }
    
    
    .inputFechas{
      width: 61.5%;
      font-size: 20px;
    }
    
    
    
    
    .btnGuardarNuevoHorario{
      color:#f5f6fa ;
          background-color:#0097e6;
          width: 164px;
          height: 64px;
          font-size: 21px;
          border-radius: 10px;
          margin-left: 230px;
          margin-top: 20px;
      
      }
    
    .input-error{
        border: 6px solid #e84118;
    }
    