body{
  font-family: "Roboto";
  font-size: 25px;
}
    


.header {
    overflow: hidden;
    background-color: #273c75;
    padding: 20px 10px;
  }
  

  .header a {
    float: left;
    color: #f5f6fa;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }

  .botona{
      background-color:#273c75 ;
      padding: 20px 10px;
      height: 40px;

  }
  

  .logo{
    width: 250px;
  }
 
  
  
  .header-right {
    float: right;
  }
 

  #a{
    position: relative;
    text-align: left;
    width: 900px;
    margin-bottom: 100px;
    left: 200px

  }

  #b{
    left: 1200px;
    position: relative;
    text-align: left;
    width: 900px;
   
    margin-bottom: 100px;
    bottom: 100px

  }

  #c{

    position: center;
    text-align:center;
    width: 1000px;
    margin-bottom: 100px;
    margin-left: auto;
  margin-right: auto;
    
  }

  .imgmision{
    position: relative;
    width: 500px;
    height: 250px;
    float: right;
    top:-90px;
    left: -100px;
    
  
    
  }



  .imgvision{
    position: relative;
    right: -200px;
    width: 500px;
    height: 250px;
    bottom: -110px;
   
   
    
  
    
  }

  .pproyecto{
  
    left: 1200px;
    position: relative;
    text-align: left;
    width: 900px;
   
    margin-bottom: 100px;
    bottom: 100px
  }

  .imgtickets{
    position: relative;
    right: 10px;
    width: 500px;
    height: 250px;
    bottom: 3px;
    background-color:#273c75 ;

  }
  



  .botontickets{
    position: relative;
    right: -200px;
    width: 500px;
    height: 250px;
    bottom: -110px;
    color: transparent;
    
  }



.pmiembro{
  width: 500px;
  height: 200px;
  border-color:#2f3640 ;
  background-color: #2f3640;
  color: #dcdde1;
  text-align: center;
border-radius: 40px;
padding: 50px 0 50px;
  
}


#Andres{
  margin-top: 200px;
  position: relative;
    margin-bottom: 20px;
    left: 200px

}

#Kenneth{
  margin-top: 100px;
  left: 1200px;
  position: relative;
 
  margin-bottom: 10px;
  bottom: 100px
  
}

#Luis{
  position: relative;
  
    margin-bottom: 20px;
    left: 200px
  
}

#Daniel{
  margin-top: 100px;
  left: 1200px;
  position: relative;
 
  margin-bottom: 20px;
  bottom: 100px
  
}

.fotoperfil{
  position: relative;
    width: 600px;
    height: 350px;
    
}

#fotoandres{
  position: relative;
  left:1200px;
  bottom: 400px;
}

#fotoluis{
  position: relative;
  left:1200px;
  bottom: 370px;
}

#fotokenneth{
  position: relative;
  left: 200px;
  bottom: 500px;

}

#fotodaniel{
  position: relative;
  left: 200px;
  bottom: 500px;

}


.subtitle{
  color: #2f3640;
  text-align: center;

width: 600px;
height: 80px;
border-color: #7f8fa6 ;
background-color: #7f8fa6;
border-radius: 30px;

}





.footerbackground{
  height: 400px;
  width: 100%;
  background-color:#2f3640 ;
  border-color: #2f3640;
  font-size: 30px;
  color: #f5f6fa;
  position: relative;
}


.contacto{
  position: relative;
  top: 100px;
  left: 100px;
}

.correo{
  position: relative;
  top: 150px;
  left: 100px;

}

.redes{
  position: relative;
  top: -30px;
  left: 1200px;

}




.fa-facebook{
  color: #f5f6fa;
  position: relative;
  top: -20px;
  left: 1250px;
}

.fa-instagram{
  color: #f5f6fa;
  position: relative;
  top: -55px;
  left: 1300px;
}