body {
    background-image: url(/Img/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}

.section-title {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    width: 70%;
}

.section-title p {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #192a56;
}

.section-content {
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    height: auto;
    width: 70%;
}

.movie-banner {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
    height: 50vh;
    width: 90%;
    max-height: 400px;
}

.movie-banner img {
    height: auto;
    width: 100%;
}

.movie-information {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 3%;
    height: 250px;
    width: 90%;
}

.movie-informationleft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid grey;
    height: auto;
    width: 50%;
}

.movie-informationright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid grey;
    height: auto;
    width: 50%;
}

.movie-information-textleft {
    height: 180px;
    width: 90%;
}

.movie-information-textleft h1 {
    font-weight: bold;
    font-size: 24px;
}

.movie-information-textleft p {
    font-size: 16px;
    padding-top: 15px;
}

.movie-information-textleft img {
    height: auto;
    width: 20%;
    padding-top: 5px;
}

.movie-information-textright {
    height: 180px;
    width: 90%;
}

.movie-information-textright h1 {
    font-weight: bold;
    font-size: 24px;
}

.movie-information-textright p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 20px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    height: 60px;
    width: 90%;
}

.WhiteButtonCustom {
    height: 100%;
    width: 30%;
}

.video-frame {
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 600px;
    width: 90%;
}

.checked {
    color: orange;
}

.rating {
    margin-top: 1%;
 }
 
 .rating__star {
    cursor: pointer;
    color: orange;
 }