.main{

    display: flex;
    justify-content: space-between;
    
    }

    body{
        background-image: url(/Img/bg6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }


    .container1 {

        display: flex;
        justify-content: center;
        flex-direction: column;
        
       
        border-radius: 10px;

        border: 1.5px solid black;
        background-color: whitesmoke;
        width: 65%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }


    #contenedorfoto{
        display: flex;
        justify-content: center;
        
        border: 2px solid black;
        width: 500px;
        height: 200px;
        max-height:200px;
        max-width: 200px ;
        margin: 0 auto;
        margin-top: 10px;
    }

   #titulo1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    

    margin-top: 100px;
    
       
    }

    


    #container2 {

       display: grid;
       grid-template-columns: repeat(2,1fr);
       
    
        align-items: center;
      
        background-color:transparent;
        width: 80%;
        max-height: max-content;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
        font-weight: 1000;
        
        
    }


    #container3 {
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    
    }

    #container4 {
        grid-column: 2/2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
       

    }

    #lista, #name{
        margin-top: 10%;
        font-size: 20px;
       
        width: 70%;
        height: 40px;
        background-color: #dcdde1;
        grid-gap: 10%;
        
    }

    #botones{
        display: flex;
        justify-content: space-around;
        grid-column-start: 1;
        grid-column-end: -1;
        margin-top: 10%;
        border-top: 2px solid hsl(0, 0%, 90%);
       
        
        

    }

    #move  {
      margin-top: 10%;
    }

  
  
   
   
    
